@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Information System</h1>
    <h6>Find out the relevant pages.</h6>
</div>
