@page
@model StudentInformation.Pages.Student.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student_Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Student_Info.StudentID" />
            <div class="form-group">
                <label asp-for="Student_Info.Name" class="control-label"></label>
                <input asp-for="Student_Info.Name" class="form-control" />
                <span asp-validation-for="Student_Info.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student_Info.City" class="control-label"></label>
                <input asp-for="Student_Info.City" class="form-control" />
                <span asp-validation-for="Student_Info.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student_Info.CourseID" class="control-label"></label>
                <select asp-for="Student_Info.CourseID" class="form-control" asp-items="ViewBag.CourseID"></select>
                <span asp-validation-for="Student_Info.CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
